{% extends 'base.html' %}

{% block title %}
- Login
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <p>Please login with your BM credentials.</p>
    <form action="{% url 'authentication:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username: </label><input type="text" placeholder="Username" id="username" name="username" required/>
        <label for="password">Password: </label><input type="password" placeholder="Password" id="password" name="password" required/>
        <button type="submit">Login</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}